
<form action="/articles" method="post">
    <h2><label for="title">Title</label>
    <input id="title" type="text" name="title"></h2>

    <h2><label for="content">Content</label>
    <textarea id="content" type="text" name="content">
        </textarea></h2>
        <input type="submit" />
</form>